body {
    background-image: url("../images/background.jpg");
    background-size: 100%; 
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-screen {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading-screen {
    display:none;
}


.result-screen {
    display:none;
    font-size: 30px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    color:white;
}

.question-screen {
    display:none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color:white;
}

.question {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 30px;
}

.option {
    font-size:20px;
}
.option:hover {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 35px;
    background-color:slategray;
}

.counter {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 25px;
}