html {
    background: url("../images/background.jpg") no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    height:100%;
    background-color:transparent !important;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-screen {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading-screen {
    display:none;
}

h1 {
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    color:white;
}
.result-screen {
    display:none;
    font-size: 30px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    color:white;
    text-align: center;
}

.question-screen {
    display:none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color:white;
}

.question {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 30px;
}

.option {
    font-size:20px;
}
.option:hover {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 35px;
    background-color:slategray;
}

.counter {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 45px;
}

.answer-pic, .ending-pic {
    display:none;
    height: 250px;
}

.pic {
    max-height:100%;
    max-width:100%;
}